html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
}

#ENSIBS {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
    background: url("./assets/ENSIBS-ECOLE-INGENIEURS-LOGO-CMJN.png") no-repeat center;
    background-size: auto;
}

#lEcole {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#Lorient {
    background: url("./assets/ensibs_lorient.jpg") no-repeat center;
    background-size: cover;
    height: 50vh;
}

#Vannes {
    background: url("./assets/DJI_0165_max588x1680.jpg") no-repeat center;
    background-size: cover;
    height: 50vh;
}


#laBretagne {
    height: 300vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

#maraisSalant {
    height: 100vh;
    background: url("./assets/IMG_20210905_150848.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}


#Port {
    height: 100vh;
    background: url("./assets/IMG_20220904_153910.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

#lesBG {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;

    display: flex;
}

#BG1 {
    width: 50vw;
    background: url("./assets/0L5A0815.png") no-repeat 30% 50%;
    background-size: cover;
    position: relative;
}

#BG2 {
    width: 50vw;
    background: url("./assets/0L5A0997.png") no-repeat center;
    background-size: cover;
    position: relative;
}


#data {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;

    display: flex;
}

#data1 {
    width: 50vw;
    position: relative;
}

#data2 {
    width: 50vw;
    position: relative;
}

#dataImage {
    height: 100vh;
    width: 100vw;
    background: url("./assets/IMG_20220307_182111.jpg") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}


#CTF {
    height: 100vh;
    width: 100vw;
    background: url("./assets/photoCTF.webp") no-repeat center;
    background-size: cover;
    position: relative;
}


#maps {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 80%;
}

#divMaps {
    width: 100vw; height: 100vh; position: relative; background: url("./assets/0L5A2668.jpg") no-repeat center; background-size: cover;
}

.images {
    height: 60vh;
    min-height: 200px;
    background: url("assets/Cyber_spe.png") center no-repeat;
    background-size: contain;
}

#LaCyber {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    background-color: black;

    display: flex;
}

#logoLog {
    width: 50vw;
    scale: 0.75;
    background: url("./assets/poulpe Web.svg") no-repeat center;
    background-size: contain;
    animation: spin 10s linear infinite;
}

#logoData {
    width: 50vw;
    scale: 1.3;
    background: url("assets/logoData.png") center no-repeat;
    background-size: contain;
    animation: spin 10s linear infinite;
    animation-delay: 0.8s;
}

@keyframes spin {
    0% {
        transform: rotate3d(1, 1, 1, 0deg);
    }
    25% {
        transform: rotate3d(0.9, 1, 1, 180deg);
    }
    50% {
        transform: rotate3d(0.9, 1, 1, 360deg);
    }
    75% {
        transform: rotate3d(1, 0.9, 0.8, -180deg);
    }
    100% {
        transform: rotate3d(1, 0.9, 0.8, -0deg);
    }
}

#mirror1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: scale(1, -1);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(0.8, rgba(0,0,0,0.16)), color-stop(0.02, rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.16) 80%, rgba(0,0,0,0.5) 98%, rgba(0,0,0,1) 100%);

    background: url("./assets/photoCTF.webp") no-repeat center;
    background-size: cover;
}


#onfékoi {
    height: 50vh;
    min-height: 200px;
    background: url("assets/les3ans.png") center no-repeat;
    background-size: contain;
}

#tableau {
    padding: 0;
    margin: 0;
    min-height: 80px;
    background: url("assets/tableau.png") center no-repeat;
    background-size: contain;
}



#intervenants {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background: url("assets/fondInter.png") center;
    position: relative;
}

#intervenants .justify {
    justify-content: center;
}


#LInternational {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#recherche {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("./assets/recherche.jpg") no-repeat center, black;
    background-size: cover;
}

#recherche::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
}

#recrutement {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: url("./assets/0L5A1110.png") no-repeat center;
    background-size: cover;
}

#entree {
    height: 60vh;
    min-height: 200px;
    background: url("assets/entree.png") center no-repeat;
    background-size: contain;
}

#selection {
    background: black;

    width: 100vw;
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

#mirror2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: scale(1, -1);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), color-stop(0.8, rgba(0,0,0,0.16)), color-stop(0.02, rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.16) 80%, rgba(0,0,0,0.5) 98%, rgba(0,0,0,1) 100%);

    background: url("./assets/0L5A1110.png") no-repeat center;
    background-size: cover;
}

#cal {
    height: 40vh;
    min-height: 200px;
    background: url("assets/cal.png") center no-repeat;
    background-size: contain;
}

#leFreak {
    width: 100vw;
    height: 100vh;
    background: url("./assets/FabGlouglou.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

#leFreak::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.25);
}


.displayAnimation {
    opacity: 0;
}


@media (prefers-reduced-motion: no-preference) {
    .entrance {
        animation: fadeIn 2s forwards;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#bubbleSort {
    background-color: transparent;
    height: 413px;
    width: 598px;
    position: relative;
}
  
.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0;
    transition: 0.2s all ease;
}
  
.block_id {
    position: absolute;
    color: black;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}

.playBtn {
    opacity: 0.8;
    height: 60px;
    width: 60px;
    position: fixed;
    top: 10px;
    right: 10px;
}

.play {
    display: block;
}

.hide {
    display: none;
}